{% block body %}

<style>
    #showImg img{
        width: 300px;
        height: 500px;
    }
</style>

<link rel="shortcut icon" href="#">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<div class="w3-container w3-red">
  <h1>OCR Reader: Receipt</h1>
</div>

<div class="w3-container">
     <form id="form" enctype="multipart/form-data">
         <table class="w3-table w3-centered w3-light-grey">
             <tr>
                 <th>Select reciept image (jpeg, png &le; 1 MB)</th>
                 <th>Select language</th>
             </tr>
             <tr>
                 <td><input type="file" name="pic" accept="image/*" id="inputFileToLoad"></td>
                 <td>
                     <select name="lang" id="lang">
                         <option value="eng" selected>English</option>
                         <option value="fre">French</option>
                         <option value="ger">German</option>
                         <option value="gre">Greek</option>
                         <option value="spa">Spanish</option>
                     </select>
                 </td>
                 <td><input type="button" value="Submit" id="submit"></td>
             </tr>
         </table>
    </form> 
</div>

<div id="content" class="w3-container" style="width: 750px; margin: 0 auto;">
    <table>
        <tr>
            <td>
                <div id="showImg" style="width: 300px; height: 500px; margin: 0 auto;"></div>
            </td>
            <td class="w3-padding-16">
                <div class="w3-card-4 w3-light-gray" style="width: 500px; height: 70px; margin: 0 auto;">
                    <p><b><label>Merchant Name: </label><label id="name"></label></b></p>
                    <p><b><label>Total Amount: </label><label id="total"></label></b></p>
                </div>
                <div id="showAllDetails"></div>
            </td>
        </tr>
    </table>
</div>


<script>
    
    $("#inputFileToLoad").change(function () {
        if (this.files && this.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                var img = $('<img>').attr('src', e.target.result);
                $('#showImg').html(img);
            };

        reader.readAsDataURL(this.files[0]);
        }
        $('#content').show();
    });
    
    
    function getNum(str){
        return str.replace(/\s+/g,' ').trim().split(" ").pop();
    }
    var textArray;
    
    $("#submit").click(function(){
        var formData = new FormData();
        formData.append("file", $("#inputFileToLoad")[0].files[0]);
        formData.append("language", $("#lang").val());
        formData.append("apikey", "b7c4ae2c5b88957");
        formData.append("isOverlayRequired", false);
        formData.append("isTable", true);

        $.ajax({
            type : 'POST',
            url : "https://api.ocr.space/parse/image",
            data : formData,
            processData: false,
            contentType: false,
            success: function(response){
                try{
                    text = response['ParsedResults'][0]['ParsedText']
                    textArray = response['ParsedResults'][0]['ParsedText'].split(/\n/)
                    console.log(textArray)
                    text = text.replace(/\n/g, "<br />");
                    $("#name").html(textArray[0])

                    totArray = []
                    for (i = 1; i < textArray.length; i++){
                        var totalStr = ["total", "ttl", "summe","μεριηο", "συνολο"];
                        for (k = 0; k < totalStr.length ; k++) {
                            if (textArray[i].toLowerCase().indexOf(totalStr[k]) != -1) {
                                newArray = textArray[i].split(" ")
                                for (j = 0; j < newArray.length; j++){
                                    if(/\d/.test(newArray[j])){
                                        totArray.push(getNum(newArray[j]))
                                    }
                                    else if(/\d/.test(textArray[i+1])){
                                        totArray.push(getNum(textArray[i+1]))
                                    }
                                }
                                break;
                            }
                        }
                    }
                    if (totArray.length>0){
                        var amt = totArray.reduce(function (a, b) { return a.length > b.length ? a : b; });
                        $("#total").html(amt);
                    } else {
                        $("#total").html("Could not fetch")
                    }
                } catch(err){
                    $("#name").html("Could not fetch")
                    $("#total").html("Could not fetch")
                }
            },
            error: function(error) {
                $("#name").html("Could not fetch")
                $("#total").html("Could not fetch")
            }
        });
    });
</script>

{% endblock %}
